.Main {
  background-color: #808080;
  height: 100vh;
}

.Greeting {
  text-align: center;
  font-size: 2rem;
}

.NavBar {
  display: flex;
  justify-content: space-around;
}

.Icon {
  margin: 1rem;
}