.Main {
  background-color: #808080;
  height: 100vh;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e9e9ed;
}

.Icon {
  margin: 1rem;
}

.Logo {
  width: 200px;
  height: 24px;
}

.imgProd {
  width: 10rem;
}

.divProd {
  display: inline-block;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
}

.ul {
  list-style: none;
}

.li {
  text-align: center;
}

.links{
  text-decoration: none;
  color: black;
}