*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Main {
  background-color: #808080;
  height: 100vh;
  overflow:scroll;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e9e9ed;
}

.Icon {
  margin: 1rem;
}

.Logo {
  width: 200px;
  height: 24px;
}

.imgProd {
  width: 10rem;
}

.divProd {
  display: inline-block;
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  height: 20rem;
  width: 20rem;
  text-align: center;
}

.detalleProducto {
  height: 30rem;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.links {
  text-decoration: none;
  color: black;
}

.nombreProducto {
  font-size: 1.5rem;
}